@import "tailwindcss";

/* Color palette */
:root {
  --c-tan-warm: #dfb388;
  --c-tan-muted: #e8c49a;
  --c-tan-dark: #b48c74;
  --c-tan-dark-low-opacity: rgba(180, 140, 116, 0.3);
  --c-tan-low-opacity: rgba(223, 179, 136, 0.6);

  --vt-c-white: #ffffff;
  --vt-c-white-soft: rgba(248, 248, 248, 0.2);
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #1d1d1d;
  --vt-c-black-soft: rgba(22, 22, 22, 0.2);
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;
  --vt-c-indigo-dark: #18222C;
  --vt-c-indigo-soft: #3e5265;
  --c-indigo-low-opacity: rgba(101, 120, 149, 0.42);
  --c-indigo-dark-low-opacity: rgba(105, 118, 159, 0.2);

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --color-background: var(--c-tan-warm);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-transparent: var(--c-tan-low-opacity);
  --color-background-accent: var(--c-tan-dark-low-opacity);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-indigo);
  --color-text: var(--vt-c-indigo);
  --color-text-muted: var(--c-indigo-low-opacity);

  --section-gap: 160px;
}



button {
  background-color: var(--vt-c-indigo);
  color: var(--c-tan-warm);
}

button:hover {
  background-color: var(--c-tan-dark);
  color: var(--vt-c-indigo-soft);

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-indigo-dark);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-background-transparent: var(--c-indigo-low-opacity);
    --color-background-accent: var(--c-indigo-dark-low-opacity);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-white);
    --color-text: var(--c-tan-muted);
    --color-text-muted: var(--c-tan-low-opacity);
  }

  button {
    background-color: var(--vt-c-indigo);
    color: var(--c-tan-muted);
  }

  button:hover {
    background-color: var(--c-tan-dark);
    color: var(--vt-c-indigo-soft);
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: all 0.4s;
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.5s, background-color 0.5s;
}
